<div class = "registerBody">
    <div class="container-fluid registerBody">
        <form (submit) = "OnRegister()">
            
            <div class="page-header"><h2>Registration</h2></div>

          <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)] = "name" name="name"><br>
              <label>Username</label>
              <input type="text" class="form-control" [(ngModel)] = "username" name="username"><br>
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)] = "email" name="email"><br>
              <label>Password</label>
              <input type="password" class="form-control" [(ngModel)] = "password" name="password"><br>
              <input type="submit" class="btn btn-primary" value="Submit"><br>
          </div>
        </form>
      </div>
    </div>


